* {
    margin: 0;
}
h1 {
    color: rgb(43, 24, 128);
    background-color: rgb(235, 255, 188);
    padding: 10px;
    margin: 10px 0px 10px 15px;
    border-radius: 25px;
    display: inline-block;
}
h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}
p {
    font-size: 1.2rem;
}